@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.card {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  border-radius: 10px;
  height: 30rem;
  width: auto;
  margin: 10px 20px;
}

@media screen and (max-width: 600px) {
  div > div > center > .img {
    display: none;
  }
}

.img {
  display: block;
  height: 300px;
  width: auto;
  border-radius: 10px;
}

.product {
  padding: 0 70px 0 0;
}

.card:hover {
  box-shadow: 0px 0px 8px 7px rgba(0, 0, 0, 0.3);
}

.container {
  padding: 2px 16px;
}

.nav_links li a {
  padding: 0px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 17px;
}

.default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  height: 70px;
  background-color: #333;
}

.navigator ul {
  float: right;
  margin-right: 20px;
  justify-content: center;
}

.navigator ul li {
  display: inline-block;
  line-height: 5px;
  margin: 0 5px;
  padding-top: 12px;
}

.navigator ul li a:hover {
  color: cyan;
}

.logoo {
  mix-blend-mode: lighten;
  width: 115px;
  align-self: flex-end;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main a {
  color: black;
  text-decoration: none;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
