@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.header {
  background-color: #333;
  width: 99%;
  border-radius: 10px;
  padding-left: 1%;
  margin-right: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.nav ul {
  float: right;
  margin-right: 19px;
  justify-content: center;
  color: white;
}

.nav ul li {
  display: inline-block;
  line-height: 5px;
  margin: 0 5px;
  padding-top: 12px;
}

.logoo {
  mix-blend-mode: lighten;
  width: 115px;
  height: 100px;
  align-self: flex-end;
}

.nav > ul > li > a {
  font-size: 18px;
}

.nav ul li a:hover {
  color: #ff0000;
}

.card {
  padding: 20px 30px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  margin-left: 10%;
  margin-bottom: 2%;
  width: 95%;
  border-radius: 10px;
  float: right;
  text-align: center;
}

.main {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    justify-content: center;
}

.container {
  padding: 2px 16px;
}

.card:hover {
  box-shadow: 0px 0px 9px 9px rgba(0, 0, 0, 0.3);
}

.buy {
  margin-top: 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  height: 100px;
  width: 70%;
  font-size: 20px;
  transition: 0.5s;
}

.buy:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
